@charset "UTF-8";
@font-face {
  src: url("../fonts/NeutralFace.woff2") format("woff2");
  font-family: "Neutral Face";
  font-style: normal;
  font-weight: 400;
  font-display: "swap";
}
@font-face {
  src: url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: "swap";
}
@font-face {
  src: url("../fonts/OpenSans-LightItalic.woff2") format("woff2");
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  font-display: "swap";
}
@font-face {
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: "swap";
}
@font-face {
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: "swap";
}
@font-face {
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: "swap";
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --white-color: #fff;
  --black-color: #000;
  --bg-color: #232323;
  --accent-color: #EB840B;
  --gray-color: #4F4F4F;
  --light-gray-color: #EEEEEE;
  --body-font-family: "Open Sans";
  --heading-font-family: "Neutral Face";
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  font-family: var(--body-font-family), sans-serif;
  line-height: 1.35;
  font-weight: 300;
  min-width: 320px;
  overflow-x: hidden;
  color: var(--white-color);
}
@media (min-width: 1280px) {
  body {
    font-size: 27px;
  }
}
@media (max-width: 640px) {
  body {
    font-size: 12px;
  }
}
body p {
  text-align: justify;
}
body p:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 640px) {
  body p:not(:last-child) {
    margin-bottom: 15px;
  }
}

.container {
  max-width: 1478px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.container.no-padding {
  padding: 0;
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: calc(var(--index) * 2.2) 0;
  position: relative;
}
@media (min-width: 1280px) {
  section {
    padding: 40px 0;
  }
}
section h2 {
  font-family: var(--heading-font-family), sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  font-size: calc(var(--index) * 1.3);
  margin-bottom: calc(var(--index) * 2.3);
}
@media (min-width: 1280px) {
  section h2 {
    font-size: 41px;
    line-height: 50px;
    margin-bottom: 128px;
  }
}
@media (max-width: 640px) {
  section h2 {
    font-size: 14px;
    margin-bottom: 25px;
  }
}
section h2 > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 640px) {
  section h2 > span {
    display: block;
  }
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  background-color: var(--gray-color);
  color: var(--white-color);
  border-radius: 4.1162px;
  cursor: pointer;
  border: none;
  border-radius: 4.1162px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-size: calc(var(--index));
  padding: calc(var(--index) * 1.2);
}
.btn:hover {
  background-color: var(--accent-color);
}
@media (min-width: 1280px) {
  .btn {
    padding: 36px 40px;
    font-size: 27px;
  }
}
@media (max-width: 640px) {
  .btn {
    font-size: 12px;
  }
}

input,
select {
  color: var(--white-color);
  font-weight: 400;
  letter-spacing: 0.02em;
  background: rgba(238, 238, 238, 0.51);
  border-radius: 4.1162px;
  border: none;
  padding: calc(var(--index) * 1.1) calc(var(--index));
  font-size: calc(var(--index));
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: var(--white-color);
}
input::-moz-placeholder, select::-moz-placeholder {
  color: var(--white-color);
}
input:-ms-input-placeholder, select:-ms-input-placeholder {
  color: var(--white-color);
}
input::-ms-input-placeholder, select::-ms-input-placeholder {
  color: var(--white-color);
}
input::placeholder,
select::placeholder {
  color: var(--white-color);
}
@media (min-width: 1280px) {
  input,
  select {
    font-size: 24px;
    padding: 36px 40px;
  }
}
@media (max-width: 640px) {
  input,
  select {
    font-size: 10px;
  }
}

input {
  text-transform: uppercase;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
select option {
  color: #000;
  display: block;
  padding: 10px;
}

.custom-select {
  position: relative;
  width: 100%;
}
.custom-select::after {
  content: "";
  position: absolute;
  height: calc(var(--index));
  width: calc(var(--index) * 0.7);
  background-image: url(../img/icons/arrow-up.svg);
  background-size: cover;
  top: 50%;
  right: calc(var(--index) * 2.4);
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
  z-index: 10;
}
@media (min-width: 1280px) {
  .custom-select::after {
    right: 50px;
    height: 34px;
    width: 10px;
  }
}
@media (max-width: 640px) {
  .custom-select::after {
    right: calc(var(--index) * 1.2);
  }
}

[type=date] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: rgba(238, 238, 238, 0.51) url(../img/icons/date-icon.svg) 97% 50% no-repeat;
}
@media (max-width: 1024px) {
  [type=date] {
    background-size: 7%;
  }
}

[type=date]::-webkit-inner-spin-button {
  display: none;
}

[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.mobile-element {
  display: none;
}
@media (max-width: 768px) {
  .mobile-element {
    display: inline-block;
  }
}

.badge {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  border: 1px solid var(--white-color);
  border-radius: 100px;
  font-weight: normal;
  padding: 0 16px;
  min-width: calc(var(--index) * 3);
  height: calc(var(--index) * 2);
}
@media (min-width: 1280px) {
  .badge {
    min-width: 265px;
    height: 52px;
  }
}
@media (max-width: 640px) {
  .badge {
    font-size: 8px;
  }
}

.relative {
  position: relative;
}

.rune-header {
  padding: calc(var(--index) * 2.2) 0;
}
@media (min-width: 1280px) {
  .rune-header {
    padding: 60px 0 40px 0;
  }
}
.rune-header .badge {
  margin-bottom: calc(var(--index) * 2);
}
@media (min-width: 1280px) {
  .rune-header .badge {
    margin-bottom: 30px;
  }
}
.rune-header h1 {
  font-size: 92px;
  text-transform: uppercase;
  line-height: 80px;
  font-family: var(--heading-font-family), sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
  display: block;
}
.rune-header h1 > span {
  display: block;
  font-size: 80px;
}
@media (max-width: 1280px) {
  .rune-header h1 > span {
    font-size: inherit;
  }
}
@media (max-width: 640px) {
  .rune-header h1 > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .rune-header h1 > span span {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}
@media (max-width: 1280px) {
  .rune-header h1 {
    font-size: calc(var(--index) * 3.62);
    line-height: 1;
    margin-bottom: calc(var(--index) * 2.75);
  }
}
@media (max-width: 360px) {
  .rune-header h1 {
    font-size: 30px;
  }
}
.rune-header-img {
  margin-bottom: 90px;
}
@media (max-width: 1280px) {
  .rune-header-img {
    margin-bottom: calc(var(--index) * 5);
  }
}
.rune-header-img img {
  display: block;
  width: 100%;
}
.rune-header-btn {
  position: absolute;
  right: 0;
  bottom: -50px;
  border: none;
  outline: none;
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.02em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 282px;
  height: 282px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.27);
  -webkit-backdrop-filter: blur(16.85px);
          backdrop-filter: blur(16.85px);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.rune-header-btn:hover {
  background-color: var(--accent-color);
}
@media (max-width: 1280px) {
  .rune-header-btn {
    width: calc(var(--index) * 8.1);
    height: calc(var(--index) * 8.1);
  }
}
@media (max-width: 768px) {
  .rune-header-btn {
    font-size: 10px;
  }
}
.rune-header b {
  font-weight: 300;
}
@media (max-width: 768px) {
  .rune-header b {
    font-weight: 600;
  }
}

.rune-calc-section-bg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

.rune-calc-form {
  border: 1.37207px solid var(--white-color);
  max-width: 95%;
  margin: 0 auto calc(var(--index) * 1.3);
  border-radius: 4.1162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(252, 252, 252, 0.03);
  padding: calc(var(--index) * 2.7) calc(var(--index) * 1.8);
  gap: calc(var(--index) * 1.35);
}
@media (min-width: 1280px) {
  .rune-calc-form {
    gap: 27px;
    padding: 60px 90px;
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .rune-calc-form {
    max-width: 100%;
  }
}
@media (max-width: 640px) {
  .rune-calc-form {
    margin-bottom: 14px;
  }
}
.rune-calc-form input, .rune-calc-form select {
  width: 100%;
}
.rune-calc-form .btn {
  margin-top: calc(var(--index) * 2.2);
}
@media (min-width: 1280px) {
  .rune-calc-form .btn {
    margin-top: 60px;
  }
}
.rune-calc-form .agree {
  font-weight: 300;
  font-size: calc(var(--index) * 0.85);
}
@media (min-width: 1280px) {
  .rune-calc-form .agree {
    font-size: 20px;
  }
}
.rune-calc-form .agree a {
  color: var(--white-color);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.rune-calc-form .agree a:hover {
  text-decoration: none;
}

.rune-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(var(--index) * 1.2);
}
@media (min-width: 1280px) {
  .rune-form-group {
    gap: 25px;
  }
}
.rune-form-group label {
  text-transform: uppercase;
  font-family: var(--heading-font-family), sans-serif;
  line-height: 1;
}

.rune-calc-section-with-img {
  text-align: center;
  position: relative;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}
@media (max-width: 768px) {
  .rune-calc-section-with-img {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-top: 17%;
  }
}

.rune-calc-section-text-block.first-text-block {
  position: absolute;
  left: 0;
  bottom: 5%;
}
.rune-calc-section-text-block.first-text-block p {
  max-width: 855px;
}
@media (max-width: 768px) {
  .rune-calc-section-text-block.first-text-block {
    position: relative;
    bottom: auto;
  }
}
.rune-calc-section-text-block.last-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: absolute;
  top: 100%;
  width: 100%;
}
.rune-calc-section-text-block.last-text-block p {
  max-width: 653px;
}
@media (max-width: 768px) {
  .rune-calc-section-text-block.last-text-block {
    position: relative;
    top: auto;
  }
}

.rune-calc-section-descr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: calc(var(--index) * 5.2);
}
.rune-calc-section-descr > * {
  border: 1px solid #fff;
}
.rune-calc-section-descr > *:not(:last-child) {
  border-right: 0;
}
@media (min-width: 1280px) {
  .rune-calc-section-descr {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .rune-calc-section-descr {
    display: block;
  }
  .rune-calc-section-descr > * {
    border: none;
  }
}
.rune-calc-section-descr-item {
  padding: calc(var(--index) * 1.2) calc(var(--index));
  position: relative;
}
@media (min-width: 1280px) {
  .rune-calc-section-descr-item {
    padding: 50px 20px;
    font-size: 21px;
    font-weight: 300;
  }
}
@media (max-width: 1024px) {
  .rune-calc-section-descr-item {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .rune-calc-section-descr-item {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .rune-calc-section-descr-item {
    text-align: center;
    padding: 0;
  }
  .rune-calc-section-descr-item:not(:last-child) {
    padding-bottom: 65px;
    margin-bottom: 16px;
  }
  .rune-calc-section-descr-item:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 48px;
    width: 1px;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .rune-calc-section-descr-item p {
    text-align: center;
  }
}
.rune-calc-section-descr-item h3 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2px;
  font-size: calc(var(--index) * 1.1);
  line-height: 1.2;
}
@media (min-width: 1280px) {
  .rune-calc-section-descr-item h3 {
    font-size: 26px;
  }
}
@media (max-width: 640px) {
  .rune-calc-section-descr-item h3 {
    font-size: 13px;
    margin-bottom: 5px;
  }
}
.rune-calc-section-descr-item em {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
}
@media (max-width: 640px) {
  .rune-calc-section-descr-item em {
    padding-bottom: 5px;
    margin-bottom: 12px;
    font-size: 12px;
  }
}
.rune-calc-section-descr-item em::after {
  content: "";
  height: 0.65px;
  width: 60%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
}
@media (max-width: 768px) {
  .rune-calc-section-descr-item em::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 122px;
  }
}

.rune-calc-section-descr-title {
  display: none;
}
@media (max-width: 768px) {
  .rune-calc-section-descr-title {
    display: block;
    text-align: center;
    padding-bottom: 42px;
    margin-bottom: 16px;
    position: relative;
  }
  .rune-calc-section-descr-title::after {
    content: "";
    position: absolute;
    height: 26px;
    width: 1px;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.rune-calc-section-descr-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media (max-width: 768px) {
  .rune-calc-section-descr-end {
    margin: 70px 0 0;
  }
  .rune-calc-section-descr-end img {
    margin-top: 50px;
  }
}
.rune-calc-section-descr-end .text-block {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (max-width: 768px) {
  .rune-calc-section-descr-end .text-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .rune-calc-section-descr-end .text-block {
    font-size: 12px;
  }
}
.rune-calc-section-descr-end .text-block p:first-child {
  max-width: 729px;
}
.rune-calc-section-descr-end .text-block p:last-child {
  max-width: 940px;
}

.rune-calc-result {
  margin-top: calc(var(--index) * 6);
}
@media (min-width: 1280px) {
  .rune-calc-result {
    margin-top: 165px;
  }
}

.runes-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: calc(var(--index) * 4) 0;
}
@media (min-width: 1280px) {
  .runes-wrapper {
    margin: 70px 0 80px;
  }
}
@media (max-width: 768px) {
  .runes-wrapper {
    margin: 45px 0;
    gap: 10px;
  }
}
@media (max-width: 640px) {
  .runes-wrapper {
    gap: 10px;
  }
}
.runes-item {
  text-align: center;
}
.runes-item h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.3);
  line-height: 1.2;
  margin-bottom: 30px;
}
@media (min-width: 1280px) {
  .runes-item h4 {
    font-size: 40px;
  }
}
@media (max-width: 640px) {
  .runes-item h4 {
    min-height: 32px;
    margin-bottom: 10px;
    font-size: 13px;
  }
}
.runes-item img {
  margin-bottom: 21px;
}
@media (max-width: 768px) {
  .runes-item img {
    margin-bottom: 15px;
  }
}
@media (max-width: 640px) {
  .runes-item img {
    margin-bottom: 5px;
  }
}
.runes-item h5 {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: calc(var(--index) * 1.3);
}
@media (min-width: 1280px) {
  .runes-item h5 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .runes-item h5 {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
@media (max-width: 640px) {
  .runes-item h5 {
    margin-bottom: 12px;
  }
}
@media (max-width: 360px) {
  .runes-item h5 {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
.runes-item small {
  font-size: 27px;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .runes-item small {
    font-size: 12px;
  }
}
@media (max-width: 640px) {
  .runes-item small {
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  .runes-item small {
    font-size: 10px;
  }
}

.rune-video-player {
  max-width: 1135px;
  aspect-ratio: 16/9;
  background: #000;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.rune-video-player iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.rune-video-player button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .rune-video-player button {
    max-width: 60px;
  }
}

.circle {
  position: relative;
  border-radius: 50%;
  border: 2.45603px solid var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(var(--index) * 14.2);
  height: calc(var(--index) * 14.2);
  z-index: 100;
  /* Стили для точек */
}
@media (min-width: 1280px) {
  .circle {
    width: 383px;
    height: 383px;
  }
}
.circle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.circle-logo {
  border-radius: 50%;
  background-color: var(--white-color);
  width: 58%;
  height: 58%;
}
.circle-logo img {
  width: 100%;
}
.circle .label {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .circle .label {
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  .circle .label {
    font-size: 10px;
  }
}
.circle .top {
  top: 0; /* Отступ от верхней границы */
  left: -45%;
}
@media (max-width: 640px) {
  .circle .top {
    left: -45%;
  }
}
@media (max-width: 360px) {
  .circle .top {
    left: -35%;
  }
}
.circle .right {
  right: -50%; /* Отступ от правой границы */
  top: 25%;
}
@media (max-width: 640px) {
  .circle .right {
    right: -57%;
  }
}
@media (max-width: 360px) {
  .circle .right {
    right: -45%;
  }
}
.circle .bottom {
  bottom: -20%; /* Отступ от нижней границы */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.circle .dot {
  position: absolute;
  width: 7%; /* Диаметр точки */
  height: 7%; /* Диаметр точки */
  background-color: white; /* Цвет точки */
  border-radius: 50%; /* Делаем точки круглыми */
}
.circle .dot-1 {
  top: 30%;
  left: 94%;
}
.circle .dot-2 {
  top: 10%; /* Положение второй точки сверху */
  left: 12%;
}
.circle .dot-3 {
  bottom: -4%; /* Положение третьей точки снизу */
  left: 50%; /* Положение третьей точки слева */
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.spoiler__intro {
  text-align: center;
}
.spoiler__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-transform: uppercase;
  font-family: var(--heading-font-family), sans-serif;
  font-weight: 400;
  font-size: calc(var(--index) * 1.3);
  gap: calc(var(--index));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 1280px) {
  .spoiler__btn {
    font-size: 41px;
    gap: 22px;
  }
}
@media (max-width: 640px) {
  .spoiler__btn {
    font-size: 14px;
  }
}
.spoiler__btn img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  height: calc(var(--index) * 1.2);
}
@media (min-width: 1280px) {
  .spoiler__btn img {
    height: 40px;
  }
}
.spoiler__content {
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  opacity: 0;
}
.spoiler__content h4 {
  font-size: calc(var(--index) * 1.3);
  margin-bottom: calc(var(--index) * 1.5);
  font-weight: 600;
  text-transform: uppercase;
}
.spoiler__content h4:not(:first-child) {
  margin-top: calc(var(--index) * 2.2);
}
@media (min-width: 1280px) {
  .spoiler__content h4 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .spoiler__content h4:not(:first-child) {
    margin-top: 50px;
  }
}
.spoiler.spoiler__active .spoiler__content {
  opacity: 1;
  margin: calc(var(--index) * 3.2) 0;
}
@media (min-width: 1280px) {
  .spoiler.spoiler__active .spoiler__content {
    margin: 70px 0;
  }
}

.rune-footer {
  padding: 60px 0;
  font-size: 20px;
  position: relative;
}
.rune-footer a {
  color: var(--white-color);
}
.rune-footer p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .rune-footer {
    padding: 24px 0;
  }
  .rune-footer p {
    text-align: center;
  }
  .rune-footer p:not(:last-child) {
    margin-bottom: 5px;
  }
}
@media (max-width: 640px) {
  .rune-footer {
    font-size: 13px;
  }
}
.rune-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .rune-footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.rune-footer-logo {
  margin-bottom: 15px;
}
.rune-footer-info {
  margin-bottom: 20px;
}
.rune-footer-email {
  display: inline-block;
  margin-bottom: 37px;
}
@media (max-width: 768px) {
  .rune-footer-email {
    margin-bottom: 0;
  }
}
.rune-footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 16px;
}
@media (max-width: 768px) {
  .rune-footer-links {
    position: absolute;
    bottom: 24px;
    width: 100%;
    left: 0;
  }
}
@media (max-width: 640px) {
  .rune-footer-links {
    font-size: 12px;
  }
}
.rune-footer-right {
  text-align: right;
  padding-top: 115px;
}
@media (max-width: 768px) {
  .rune-footer-right {
    padding: 50px 0 70px;
  }
}
.rune-footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1024px) {
  .rune-footer-socials {
    gap: 16px;
  }
}
.rune-footer-socials-link {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--white-color);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 1024px) {
  .rune-footer-socials-link {
    width: 44px;
    height: 44px;
  }
  .rune-footer-socials-link img {
    width: 60%;
  }
}
.rune-footer-socials-link img {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.rune-footer-socials-link:hover {
  background-color: var(--white-color);
}
.rune-footer-socials-link:hover img {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.scroll-top {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--white-color);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin-top: 37px;
  margin-left: auto;
}
.scroll-top img {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.scroll-top:hover {
  background-color: var(--white-color);
}
.scroll-top:hover img {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}
@media (max-width: 1024px) {
  .scroll-top {
    width: 44px;
    height: 44px;
  }
  .scroll-top img {
    height: 50%;
  }
}
@media (max-width: 768px) {
  .scroll-top {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=app.css.map */