* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --white-color: #fff;
  --black-color: #000;
  --bg-color: #232323;
  --accent-color: #EB840B;
  --gray-clor: #4F4F4F;
  --light-gray-color: #EEEEEE;
  --body-font-family: "Open Sans";
  --heading-font-family: "Neutral Face";
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  font-family: var(--body-font-family), sans-serif;
  line-height: auto;
  font-weight: 300;
  min-width: 320px;
  overflow-x: hidden;
  color: var(--white-color);
}
@media (min-width: 1280px) {
  body {
    font-size: 27px;
  }
}
@media (max-width: 640px) {
  body {
    font-size: 10px;
  }
}

.container {
  max-width: 1478px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.container.no-padding {
  padding: 0;
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.badge {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  border: 1px solid var(--white-color);
  border-radius: 100px;
  font-weight: normal;
  padding: 0 16px;
  min-width: calc(var(--index) * 3);
  height: calc(var(--index) * 2);
}
@media (min-width: 1280px) {
  .badge {
    min-width: 265px;
    height: 52px;
  }
}
@media (max-width: 640px) {
  .badge {
    font-size: 8px;
  }
}

.relative {
  position: relative;
}

.rune-header {
  padding: calc(var(--index) * 2.2) 0;
}
@media (min-width: 1280px) {
  .rune-header {
    padding: 60px 0 40px 0;
  }
}
.rune-header .badge {
  margin-bottom: calc(var(--index) * 2);
}
@media (min-width: 1280px) {
  .rune-header .badge {
    margin-bottom: 30px;
  }
}
.rune-header h1 {
  font-size: 92px;
  text-transform: uppercase;
  line-height: 80px;
  font-family: var(--heading-font-family), sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
  display: block;
}
.rune-header h1 span {
  display: block;
  font-size: 80px;
}
@media (max-width: 1280px) {
  .rune-header h1 span {
    font-size: inherit;
  }
}
@media (max-width: 640px) {
  .rune-header h1 span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    text-align: right;
  }
}
@media (max-width: 1280px) {
  .rune-header h1 {
    font-size: calc(var(--index) * 3.62);
    line-height: 1;
    margin-bottom: calc(var(--index) * 2.75);
  }
}
.rune-header-img {
  margin-bottom: 90px;
}
@media (max-width: 1280px) {
  .rune-header-img {
    margin-bottom: calc(var(--index) * 5);
  }
}
.rune-header-img img {
  display: block;
  width: 100%;
}
.rune-header p {
  margin-bottom: 20px;
}
.rune-header-btn {
  position: absolute;
  right: 0;
  bottom: -50px;
  border: none;
  outline: none;
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.02em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 282px;
  height: 282px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.27);
  -webkit-backdrop-filter: blur(16.85px);
          backdrop-filter: blur(16.85px);
}
@media (max-width: 1280px) {
  .rune-header-btn {
    width: calc(var(--index) * 8.1);
    height: calc(var(--index) * 8.1);
  }
}
@media (max-width: 768px) {
  .rune-header-btn {
    font-size: 10px;
  }
}/*# sourceMappingURL=app.css.map */