input,
select{
	color: var(--white-color);
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.02em;
	padding: 36px 40px;
	background: rgba(238, 238, 238, 0.51);
	border-radius: 4.1162px;
	border: none;
	&::placeholder{
		color: var(--white-color);
	}
}
input{
	text-transform: uppercase;
}

.btn{
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	padding: 36px 40px;
	background-color: var(--gray-color);
	color: var(--white-color);
	border-radius: 4.1162px;
	font-size: 27px;
	cursor: pointer;
	border: none;
	border-radius: 4.1162px;
	transition: all .25s ease-in-out;
	&:hover{
		background-color: var(--accent-color);
	}
}

.run-calc-section-bg{
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.4;
}

.run-calc-form{
	border: 1.37207px solid var(--white-color);
	padding: 60px 90px;
	max-width: 95%;
	margin: 0 auto;
	border-radius: 4.1162px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	background: rgba(252, 252, 252, 0.03);
	.btn{
		margin: 60px 0 27px 0;
	}
	.agree{
		font-size: 20px;
		font-weight: 300;
		a{
			color: var(--white-color);
			transition: all .25s ease-in-out;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.run-form-group{
	display: flex;
	flex-direction: column;
	gap: 27px;
	label{
		text-transform: uppercase;
		font-family: var(--heading-font-family), sans-serif;
		line-height: 1;
	}
}