*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--index: calc(1vw + 1vh);
	--white-color: #fff;
	--black-color: #000;
	--bg-color: #232323;
	--accent-color: #EB840B;
	--gray-color: #4F4F4F;
	--light-gray-color: #EEEEEE;
	--body-font-family: 'Open Sans';
	--heading-font-family: 'Neutral Face';
}

html,
body{
	height: 100%;
}

body{
	background-color: var(--bg-color);
	font-family: var(--body-font-family), sans-serif;
	@include xl-up{
		font-size: 27px;
	}
	line-height: auto;
	font-weight: 300;
	min-width: 320px;
	overflow-x: hidden;
	color: var(--white-color);
	@include sm-down{
		font-size: 10px;
	}
	p{
		text-align: justify;
	}
}

.container{
	max-width: 1478px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	&.no-padding{
		padding: 0;
	}
	@include xl-down{
		max-width: 1024px;
	}
	@include lg-down{
		max-width: 768px;
	}
	@include md-down{
		max-width: 640px;
	}
	@include sm-down{
		max-width: 100%;
	}
}

img{
	max-width: 100%;
	height: auto;
}

section{
	padding: calc(var(--index) * 2.2) 0;
	position: relative;
	@include xl-up{
		padding: 40px 0;
	}
}

.btn{
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	background-color: var(--gray-color);
	color: var(--white-color);
	border-radius: 4.1162px;
	cursor: pointer;
	border: none;
	border-radius: 4.1162px;
	transition: all .25s ease-in-out;
	&:hover{
		background-color: var(--accent-color);
	}
	font-size: calc(var(--index));
	padding: calc(var(--index) * 1.2);
	@include xl-up{
		padding: 36px 40px;
		font-size: 27px;
	}
	@include sm-down{
		font-size: 11px;
	}
}

input,
select{
	color: var(--white-color);
	font-weight: 400;
	letter-spacing: 0.02em;
	background: rgba(238, 238, 238, 0.51);
	border-radius: 4.1162px;
	border: none;
	padding: calc(var(--index) * 1.1) calc(var(--index));
	font-size: calc(var(--index));
	&::placeholder{
		color: var(--white-color);
	}
	@include xl-up{
		font-size: 24px;
		padding: 36px 40px;
	}
	@include sm-down{
		font-size: 10px;
	}
}
input{
	text-transform: uppercase;
}

.badge{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	border: 1px solid var(--white-color);
	border-radius: 100px;
	font-weight: normal;
	padding: 0 16px;
	min-width: calc(var(--index) * 3);
	height: calc(var(--index) * 2);
	@include xl-up{
		min-width: 265px;
		height: 52px;
	}
	@include sm-down{
		font-size: 8px;
	}
}

.relative{
	position: relative;
}